@import './imports/colors';
@import './imports/typography';
@import './imports/common';
@import '../../node_modules/font-awesome/less/font-awesome.less';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative; /* REQUIRED Sets up positioning for your footer */
}

#sticky {
  width: 100%;
  height: auto;
  padding: 10px;
  background: burlywood;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  z-index: 2; /* Required for pointer-events to work */
  position: fixed; /* Here's what sticks it */
  bottom: 0; /* to the bottom of the window */
  left: 0; /* and to the left of the window */
}

// Media Query Helpers: https://stackoverflow.com/a/26432624/3308084
@screen-xs-min:     480px;
@screen-sm-min:     768px;
@screen-md-min:     992px;
@screen-lg-min:     1200px;

@screen-xs-max:     (@screen-sm-min - 1);
@screen-sm-max:     (@screen-md-min - 1);
@screen-md-max:     (@screen-lg-min - 1);

@phone:             ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict:      ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})";
@tablet:            ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict:     ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop:           ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict:    ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large:             ~"only screen and (min-width: @{screen-lg-min})";

@import './errorToast';
@import './gameSetup';
@import './singleGame';
@import './tournament';
